h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.row {
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.row > div {
    border: 2px solid red;
    background-color: aquamarine;
}