@font-face {
    font-family: 'Organo';
    src: url('fonts/organo-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('fonts/Organo.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  

html {
    height: 100%;
    width: 100%;
    border: 6px solid black;
    border-radius: 0px 20px;
}
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    background-color: #ffdd00;
    font-family: "Organo";
    overflow-x: hidden;
}

h1 {
    color: #0099ff;
    margin: 20px 0px 20px 2.5vw;
    font-size: 10vw;
    overflow: hidden;
    text-shadow: 3px 5px 4px black;
}

@media screen and (min-width: 800px) {
    h1 {
       font-size: 80px;
    }
  }

#header-nav {
    background-color: #0099ff;
    border: 5px;
    margin: 20px 30px 20px 30px;
    border-radius: 20px;
    border: 2px solid black;
}

.container-fluid {
    margin-left: 20px;
}

#logo-img {
    background: url("icons/icon.png") no-repeat;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 20px;
    vertical-align: middle;
    text-shadow: 3px 5px 7px black;
}

div > a > h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffdd00;
    font-size: 50px;
    margin-top: 15px;
    text-shadow: 3px 5px 7px black;
}

.navbar-brand > a:hover{
    text-decoration: none;
    color: black;
    
}

.btn-outline-light {
    margin: 29px 0px;
    font-style: italic;
    right: 30px;
    max-width: 100px;
}
#swag {
    color: white;
}
#swag:hover {
    color: black;
    text-decoration: none;
}
div > button {
    background-color: #0099ff;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 95px;
    margin: 25px 100px 20px 100px;
}

li > a > span {
    color: #ffdd00;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    div > a > h2{
        font-size: 8vw;
        text-align: center;
        margin-left: 0;
   }
   ul > button {
       margin-left: 12vw;
   }
   #h1 {
       margin-top: 0;
   }
}

.container {
    position: relative;
}

.container img {
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
}

.container .btn-outline-dark {
    background-color: #0099ff;
    left: 50px;
    top: 500px;
    color: #ffdd00;
    vertical-align: middle;
}

.container .btn-outline-dark:hover {
    background-color: white;
    left: 50px;
    top: 500px;
    color: #0099ff;
    size: 120%;
}

@media screen and (max-width: 991px) {
    .container img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        height: auto;
    }
    .container .btn-outline-dark {
        background-color: #0099ff;
        left: 50px;
        top: 500px;
        width: 50vw;

    }
 }